# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
/conf/config.php
_notes/dwsync.xml
css/_notes/dwsync.xml
fonts/_notes/dwsync.xml
img/_notes/dwsync.xml
js/_notes/dwsync.xml
*.old
img/logoswk.png
img/stone-wall.jpg
wdw_suche/_notes/dwsync.xml
